export(QRNLMM)
export(group.plot)
export(group.lines)
export(group.points)
import(tcltk)
importFrom(ald,dALD)
importFrom(ald,rALD)
importFrom(ghyp,Egig)
importFrom(mvtnorm,rmvnorm)
importFrom(mvtnorm,dmvnorm)
importFrom(matrixcalc,is.positive.definite)           
importFrom(quantreg,rq)
importFrom(psych,tr)