export(QRNLMM)
S3method(predict,QRNLMM)
export(group.plot)
export(group.lines)
export(group.points)
#import(tcltk)
importFrom("stats", "quantile")
importFrom("utils", "head")
importFrom(progress,progress_bar)
importFrom(ald,dALD)
importFrom(ald,rALD)
importFrom(lqr,Egig)
importFrom(mvtnorm,rmvnorm)
importFrom(mvtnorm,dmvnorm)
importFrom(quantreg,rq)
importFrom(psych,tr)
importFrom(graphics, abline, plot, axis, polygon, lines,
           title, matplot, matlines, matpoints, par)
importFrom(stats, optim, qnorm, pnorm, smooth.spline, plot.ts, runif)